.container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 0;
  /* background: #f3f3f3; */
}

.container svg {
  width: 1.5rem;
  margin: .5rem 2rem;
  aspect-ratio: 1/1;
}