.card {
  margin: 1rem .5rem;
  text-align: justify;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions button {
  fill: #ccc;
  margin-bottom: .5rem;
}

.actions button:hover {
  fill: purple;
}