.fab {
  position: fixed;
  font-size: 1.75rem;
  bottom: 3%;
  right: 3%;
  margin: 0;
}

.addmodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: #ddd;
  border: none;
  box-shadow: 24;
  padding: 1rem;
}

.addmodal div {
  margin-bottom: .5rem;
}

.addmodal button {
  width: 100%;
}